<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Carousel Template · Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('assets/css/bootstrap.css')}}" rel="stylesheet">
    <link href="{{asset('assets/css/boutiquefrancaise.css')}}" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{asset('assets/css/carousel.css')}}" rel="stylesheet">
    <style>
      
    </style>
</head>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{path('app_home')}}">Pharmacie - en ligne</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('products')}}">Nos produits <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Qui somme nous? <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('app_contact_new')}}">Contact<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('app_job_new')}}">Offre d'emploi<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            {% if app.user is defined %}
            {% if app.user.email is defined and app.user.email == "admin1@gmail.com" %}
                <button><a href="{{ path('admin') }}" class="btn btn-warning">Administrateur</a></button>
            {% endif %}
        {% endif %}
        
            <div class="navbar-item-custom">
            {% if app.user %}
            <a href="{{path('app_account')}}">Mon compte <small>({{app.user.name}})</small></a>  |<a href="{{path('app_logout')}}">Deconnexion</a>
           {% else %}
               <a href="{{path('app_login')}}">connexion</a>  |<a href="{{path('app_user_new')}}">Inscription</a>
               {% endif %}
               <a href="{{path('cart')}}"><img src="{{asset('assets/img/shopping-cart.png')}}"height="30px"></a>
        </div>
        </div>
    </nav>
</header>
<br><br><br>
    {% block title %} {% endblock %}
    {% block content %}
    
    <br><br>
    <div class="main">
    <h1>Mon panier</h1>
    <h1>Retrouvez l'ensemble des produits que vous avez ajouter a votre panier.</h1>
    <hr>
    <table class="table mt-3">
    <thead>
    <tr>
    <th scope="col">Produit </th>
    <th scope="col"> </th>
    <th scope="col">Quantity </th>
    <th scope="col">Prix </th>
    <th scope="col">Total </th>
    <th scope="col"> </th>
    </tr>
    </thead>
    <tbody opacity:2;>
    {% set total=null %}
    {% for product in items %}
    <tr>
    <th><img src="/uploads/{{product.product.illustration}}" alt="{{product.product.name}}" height="75px"><br/>
    </th>
    <td>
    {{product.product.name}}<br/>
    <small>{{product.product.subtitle}}</small>
    </td>
    <td>{{product.quantity}}</td>
    <td>{{(product.product.price /100)|number_format(2,',','.')}}</td>
    <td>{{(product.product.price * product.quantity)|number_format(2,',','.')}}</td>
    <td>
    <a href="{{path('remove_my_cart',{'id':product.product.id})}}"><img src="{{asset('assets/img/delete.png')}}" alt=" supprimer mon produit" height="30px"></a></td>
    </tr>
    {% set total=total+(product.product.price * product.quantity) %}
    {% endfor %}
    </tbody>
    </table>
    <div class="text-right">
    <b>Nombre de produit :</b>{{items|length}}</br>
    <b>Total de mon panier :</b> {{((total)/100)|number_format(2,',','.')}}$
    <h1><a href="{{path('products')}}" class="btn btn-success btn-block mt-3">Ajouter un autre Produit</a></h1>
    </div>
    </div>
    {% endblock %}
    