<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{asset('assets/css/style2.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/style1.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/css/axentix.min.css">
            {% block stylesheets %}{% endblock %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <head>
   
    </head>
    {% block title %}Mon-panier -WEST WORLD SHIRTS {% endblock %}
    {% block content %}
    <br><br>
    <div class="main">
    <h1>Mon panier</h1>
    <h1>Retrouvez l'ensemble des produits que vous avez ajouter a votre panier.</h1>
    <hr>
    <table class="table mt-3">
    <thead>
    <tr>
    <th scope="col">Produit </th>
    <th scope="col"> </th>
    <th scope="col">Quantity </th>
    <th scope="col">Prix </th>
    <th scope="col">Total </th>
    <th scope="col"> </th>
    </tr>
    </thead>
    <tbody opacity:2;>
    {% set total=null %}
    {% for product in items %}
    <tr>
    <th><img src="/uploads/{{product.product.illustration}}" alt="{{product.product.name}}" height="75px"><br/>
    </th>
    <td>
    {{product.product.name}}<br/>
    <small>{{product.product.subtitle}}</small>
    </td>
    <td>{{product.quantity}}</td>
    <td>{{(product.product.price /100)|number_format(2,',','.')}}</td>
    <td>{{(product.product.price * product.quantity)|number_format(2,',','.')}}</td>
    <td>
    <a href="{{path('remove_my_cart',{'id':product.product.id})}}"><img src="{{asset('assets/img/delete.png')}}" alt=" supprimer mon produit" height="30px"></a></td>
    </tr>
    {% set total=total+(product.product.price * product.quantity) %}
    {% endfor %}
    </tbody>
    </table>
    <div class="text-right">
    <b>Nombre de produit :</b>{{items|length}}</br>
    <b>Total de mon panier :</b> {{((total)/100)|number_format(2,',','.')}}$
    <h1><a href="{{path('products')}}" class="btn btn-success btn-block mt-3">Ajouter un autre Produit</a></h1>
    <h1><a href="{{path('payment')}}" class="btn btn-success btn-block mt-3">Faire Le payment </a></h1>
    </div>
    </div>
    {% endblock %}
    